{
    ApplicationDescription = "No description avaliable!";
    ApplicationIcon = 48x48.png;
    ApplicationName = "chocolate-launcher";
    ApplicationRelease = 0.1;
    Copyright = "Copyright (C) 2009";
    CopyrightDescription = "Released under ...";
    FullVersionID = 0.1;
    NSExecutable = "chocolate-launcher";
    NSIcon = 48x48.png;
    NSMainNibFile = launcher.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}