{
    ApplicationDescription = "Launcher program for Chocolate Doom";
    ApplicationIcon = 48x48.png;
    ApplicationName = "chocolate-launcher";
    ApplicationRelease = 0.1;
    Authors = (
	"Simon Howard"
    );
    Copyright = "Copyright (C) 2009";
    CopyrightDescription = "GNU General Public License, version 2";
    FullVersionID = 0.1;
    NSExecutable = "chocolate-launcher";
    NSIcon = 48x48.png;
    NSMainNibFile = launcher.nib;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://www.chocolate-doom.org/";
}
